<div class="container">
  <%= render "partials/place", :place => @place %>
  <% if current_user == @place.user %>
    <%= link_to '<i class="fa fa-plus"></i> New Plate'.html_safe, new_place_plate_path, class: "btn btn-primary pull-right" %>
  <% end %>
  <hr>
  <div class="row">
    <% @plates.each do |plate| %>
      <div class="col-sm-4">
        <%= render "partials/plate", :plate => plate %>
      </div>
    <% end %>
  </div>
</div>