<div class="container">
	<p>
	  <strong>User:</strong>
	  <%= @app.user.email %>
	</p>

	<p>
	  <strong>Public key:</strong>
	  <%= @app.public_key %>
	</p>

	<p>
	  <strong>Private key:</strong>
	  <%= @app.private_key %>
	</p>

	<p>
	  <strong>Domain:</strong>
	  <%= @app.domain %>
	</p>
</div>